@model BookingApp.Models.Treatment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKeyRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKeyRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
              @{
        var customer = Model.Customer;
    }

    @if (customer != null)
    {
        <text>@customer.Firstname @customer.Lastname</text>
    }
    else
    {
        <text>N/A</text>
    }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInterval)
        </dt>
        <dd class = "col-sm-10">
          @{
        var timeIntervalId = Model.TimeInterval?.TimeIntervalId;
    }

    @if (timeIntervalId != null)
    {
        @Html.DisplayFor(_ => timeIntervalId)
    }
    else
    {
        <text>N/A</text>
    }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TreatmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
